@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    scrollbar-width: thin;
    scrollbar-color: #30363d #0d1117;
  }

  ::selection {
    background-color: rgba(88, 166, 255, 0.3);
  }
}
